<!DOCTYPE html>
<html lang="fr">
  <head>
    <meta charset="utf-8">
    <title>Quizz en ligne par Clément !</title>
    <meta name="viewport" content="width=device-width, initial-scale=1">
    <!--import css -->
      <script src="https://code.jquery.com/jquery-1.11.2.min.js"></script>
  <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
  <script src="/socket.io/socket.io.js"></script>
    <link rel="stylesheet" href="/style.css"/>
    
    <!--import auto css -->
    <link href="https://unpkg.com/tailwindcss@^1.0/dist/tailwind.min.css" rel="stylesheet"/>
    
    <!--import socket -->
    <script src="https://cdnjs.cloudflare.com/ajax/libs/socket.io/4.5.2/socket.io.js"></script>
  </head>
  <body class="bg-black">
    
      <!-- INTRO -->
      <div class="container h-screen m-auto flex flex-col justify-center items-center" id="intro">
        <h1 class="text-4xl text-yellow-400">
          Quizz par <span class="text-red-400" >Clément</span> !
        </h1>
        <form id="form_pseudo" class="bg-black w-1/2 rounded p-6 shadow-md mt-4 border-4 border-yellow-400">
          <h2 class="text-xl text-white font-bold mb-4">
            Entrez votre pseudo :
          </h2>
          <input id="name" class="d-block rounded w-full border-4 border-yellow-400 shadow p-4 text-black" type="text" placeholder="Mets ton pseudo..."/>
        </form>
      </div> 
    
    <!-- JEU -->
    <div class="container h-screen m-auto flex flex-col justify-center items-center hidden" id="game">
      
       <!-- Classement -->
    <div class="bg-black rounded fixed top-0 left-0 p-6 shadow-md mt-4 border-4 border-yellow-400 text-center text-white">
      <h3 class="text-2xl font-bold border-b border-yellow-400 pb-4 mb-4">
        <span class="text-red-400">CLASSEMENT</span>
      </h3>
      <ul id="leaderboard">
      </ul>
    </div>
      <div class="fixed bottom-0 left-0">
        <input id="themeRAP" class="bg-black d-block rounded w-auto border-4 border-yellow-400 shadow p-4 text-white mt-5" type="button" value="Thème RAP"/>
      <input id="themeManga" class="bg-black d-block rounded w-auto border-4 border-yellow-400 shadow p-4 text-white mt-5" type="button" value="Thème Manga"/>
        <input id="themeCinema" class="bg-black d-block rounded w-auto border-4 border-yellow-400 shadow p-4 text-white mt-5" type="button" value="Thème Cinema"/>
        <input id="themeRandom" class="bg-black text-white d-block rounded w-auto border-4 border-yellow-400 shadow p-4 mt-5" type="button" value="Thème Random"/>
        <input id="themeMusic" class="bg-black text-white d-block rounded w-auto border-4 border-yellow-400 shadow p-4 mt-5" type="button" value="Thème Musique"/>
      </div>
	  <div class="fixed bottom-0 right-0">
	  <input type="button" class="bg-black text-white d-block rounded w-auto border-4 border-yellow-400 shadow p-4 mt-5" onclick="ClearChat()" id="Clear" value="Clear"/>
      <input type="file" class="d-block rounded w-auto border-4 border-yellow-400 shadow p-4 text-black mt-5" id="imageFile"/>
	  </div>
      <!-- Classement -->
      
      <h1 id="titre_jeu" class="text-4xl text-yellow-400">
          Quizz Spécial <span class="text-red-400" >Cinéma</span> !
        </h1>
      <form id="form_jeu" class="bg-black w-1/2 rounded p-6 shadow-md mt-4 border-4 border-yellow-400">
        <div id="music" class="hidden flex justify-center justify-between text-white">
          <input onclick="play_sound()" id="play" type="button" class="h-70 w-70 rounded-full flex items-center justify-center cursor-pointer bg-red-400" value="Play">
		  <input onclick="mute_sound()" id="mute" type="button" class="h-70 w-70 rounded-full flex items-center justify-center cursor-pointer bg-red-400" value="Mute">
          Durée :
          <input type="range" min="0" max="100" value="0" id="duration_slider" onchange="change_duration()">
          Volume :
          <input type="range" min="0" max="100" value="0" id="volume" onchange="volume_change()">
        </div>
        <div id="image_rap" class="Image hidden"></div>
        <h1 class="text-xl text-white font-bold mb-4" id="question"></h1>
          <input id="reponse" class="d-block rounded w-full border-4 border-yellow-400 shadow p-4 text-black" type="text" placeholder="Ecris ta réponse..."/>
      </form> 
		<div class="bg-black w-1/2 rounded p-6 shadow-md mt-4 border-4 border-yellow-400 text-white">
			<ul id="mychat">
				<li><span class="text-red-400" id="pseudo"></span> <label id="message"></label></li>
			</ul>
		</div>	  
    </div>
  </body>
  <!--import script -->
  <script src="/script.js"></script>
</html>
